* {
    margin: 0;
}

header {
    background-color: #ffdf20;
    box-shadow: 4px 9px;
    width: 100%;
    height: 4rem;
}

.filler {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px;
}

nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}

div.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 300px;
}

div.nav-links {
    display: flex;
    gap: 1rem;
}

div.nav-links > button {
    font-size: 1rem;
    background: none;
    border: none;
    font-family: "Press Start 2P", system-ui;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}