.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10rem;
}

.about > h1 {
    color: white;
    font-size: 2rem;
    text-shadow: black 3px 3px;
}

.about > .pixel-corners {
    border: solid 4px;
    padding: 10px 8px;
    background: white;
}

.about > .pixel-corners > p {
    text-align: center;
    width: 700px;
    margin: 0;
    font-weight: 500;
}

#idk-man {
    margin-top: 20px;
    margin-left: 50px;
}

#story {
    margin-top: 50px;
    background-color: #53eafd;
    border: solid 5px;
}

.story > h1 {
    display: flex;
    align-items: center;
}

.story > p {
    background: white;
    border: solid 5px;
    padding: 20px;
}

.about > .pixel-corners > .story {
    width: 1000px;
}

.about > .pixel-corners > .story > p {
    margin: 20px 50px;
}