.footer {
    background-color: #890ee1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    border-top: solid 5px;
    position: relative;
    z-index: 1;
}

.pixel-stars {
    display: flex;
    gap: 5px;
    margin-top: 40px;
}

.bouncing-icons {
    margin-bottom: 50px;
}