.name {
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 4px 0 black;
  font-weight: 600;
  margin-bottom: 30px;
}

/* Container section */
.hero-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  /* px-4 */
  padding-right: 1rem;
  /* px-4 */
  padding-top: 3rem;
  /* py-12 */
  padding-bottom: 3rem;
  /* py-12 */
}

@media (min-width: 640px) {
  .hero-container {
    padding-top: 5rem;
    /* sm:py-20 */
    padding-bottom: 5rem;
  }
}

/* Inner max-width wrapper */
.max-wrapper {
  max-width: 80rem;
  /* max-w-5xl */
  margin-left: auto;
  margin-right: auto;
}

/* Grid container */
.grid-container {
  display: grid;
  gap: 2rem;
  /* gap-8 */
  align-items: center;
  margin-bottom: 3rem;
  /* mb-12 */
}

@media (min-width: 640px) {
  .grid-container {
    gap: 3rem;
    /* sm:gap-12 */
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    /* md:grid-cols-2 */
  }
}

.pixel-order {
  order: 2;
}

@media (min-width: 768px) {
  .pixel-order {
    order: 1;
  }
}

.pixel-star-container {
  display: flex;
  gap: 5px;
}

.hero-description {
  margin: 15px 0;
}

.hero-anchors {
  display: flex;
  gap: 20px;
}

.hero-anchors>a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 5px;
  box-shadow: 5px 5px;
}

.fun-buttons {
  width: 500px;
  height: 2.5rem;
  display: flex;
  gap: 30px;
  margin: 30px 0;
}

.view-work-button,
.fun-button {
  border: solid 5px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px;
  height: 100%;
}

.view-work-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #4ade80;
  transition: 0.2s;
}

.view-work-button:hover {
  background-color: #00c950;
  translate: 3px 3px;
  box-shadow: 2px 2px;
}

.fun-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f472b6;
  transition: 0.2s;
  z-index: 2;
}

.fun-button:hover {
  background-color: #f6339a;
  translate: 3px 3px;
  box-shadow: 2px 2px;
}

.bob-initial {
  height: 100px;
  /* overflow: hidden; */
  width: auto; /* 42.3px */
  transform: translateY(-100px);
  clip-path: inset(100px 0px 0px 0px);
  transition: all 2s ease;
  z-index: 1;
}

.bob-initial.slide-in {
  clip-path: inset(0px 0px 0px 0px);
  transform: translateY(0px);
}