* {
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-align: left;
}

.left {
    margin-right: 50px;
}

.left > h1 {
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 4px 0 black;
    font-weight: 600;
    margin-bottom: 30px;
}

.left > p {
    max-width: 550px;
    margin: 20px 0px;
}

.pixel-star-container {
    display: flex;
    gap: 5px;
}

.anchors {
    display: flex;
    gap: 20px;
}

.anchors > a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border: solid 5px;
    box-shadow: 5px 5px;
}

.fun-buttons {
    width: 500px;
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.fun-buttons > button {
    border: solid 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px;
}

.view-work-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #4ade80;
    transition: 0.2s;
}

.view-work-button:hover {
    background-color: #00c950;
    translate: 3px 3px;
    box-shadow: 2px 2px;
}

.fun-button {
    background-color: #f472b6;
    transition: 0.2s;
}

.fun-button:hover {
    background-color: #f6339a;
    translate: 3px 3px;
    box-shadow: 2px 2px;
}