.hero {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.left {
    margin-right: 50px;
}
.left > h1 {
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 4px 0 black;
    font-weight: 600;
}

.left > p {
    max-width: 550px;
    margin: 30px 0px;
}

.pixel-star-container {
    display: flex;
    gap: 5px;
}