section.project-element-section {
    border: solid;
}

section.project-element-section > h1 {
    margin-top: 1rem;
}

.project-element-icon {
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.project-element-section > h1, p {
    margin: 0.5rem 2rem;
}