.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    scroll-margin-top: 5rem;
}

.projects > h1 {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 4px 0 black;
    font-weight: 600;
}

.top-thingie {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pixel-star-wrapper {
    position: relative;
    top: 5px;
}

.projects > p {
    width: 700px;
    text-align: center;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 2rem;
}

.project-list > .project-element-section {
    width: 500px;
}