section.project-element-section {
    transform: translate(0, 0);
    transition: transform, 0.1s;
}

section.project-element-section:hover {
    transform: translate(5px, 5px);
    transition: transform 0.1s;
}

section.project-element-section > h1 {
    margin-top: 1rem;
}

.project-element-icon {
    text-align: center;
    font-size: 4rem;
    width: 100%;
    padding: 1rem;
    border-bottom: solid 4px;
}

.project-element-section > .pixel-corners {
    margin-bottom: 2rem;
    border: 4px solid;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
}

.project-element-section > .pixel-corners > h1, .project-element-section > .pixel-corners > p {
    margin: 2rem 2rem;
}

.project-element-section > .pixel-corners > p {
    font-size: 0.8rem;
}

.tool {
    font-size: 0.8rem;
    padding: 0px 10px;
    border: solid;
    background-color: #e9d4ff;
}

.tools {
    margin: 1rem 2rem;
    display: flex;
    gap: 5px;
}

.links {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
    gap: 10px;
}

.links > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 4px 4px;
    width: 45%;
    border: solid 5px;
    transition: 0.2s;
    padding: 3px 10px;
}

.demo-button {
    background-color: #4ade80;
}

.demo-button:hover {
    translate: 3px 3px;
    box-shadow: 2px 2px;
    background-color: #22c55e;
}

.code-button {
    background-color: #facc15;
}

.code-button:hover {
    translate: 3px 3px;
    box-shadow: 2px 2px;
    background-color: #eab308;
}