@import "tailwindcss";

body { 
  font-family: "Press Start 2P", system-ui;
}

.full-screen-gradient {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #c084fc, #f9a8d4, #60a5fa); /* purple-400 → pink-300 → blue-400 */
}

/* overlay pattern */
.grid-overlay {
  position: fixed;
  inset: 0;
  opacity: 0.10;
  pointer-events: none;
  z-index: -1;

  background-image:
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #000 2px,
      #000 4px
    );

  background-size: 20px 20px;
}
